/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

body,
p {
  font-family: 'Merriweather Normal Web';
}

h1,
h2,
a {
  font-family: 'Novecento Sans Web', sans-serif;
}

h3 {
  font-family: 'Merriweather Normal Web';
}

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
  padding-left: 50px;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

// ABOUT PAGE SETTINGS

.about-entry-content p {
  font-size: 1.25rem;
}

.about-entry-content h1 h2 h3 p {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
