/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

@media only screen and (min-width: 600px){

	.site-content {
		max-width: 100vw;
		display: flex;
		// justify-content: center;
		align-items: flex-start;
		margin-left: 50px;

		//this is content area
		.contact-area {
		  padding: 3rem;
		  flex-basis: 70%;
		  height: 100%;
		  border-right: 1px solid #e1e1e1;
		}
	}}
	
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.journals-container {
	display: flex;
	justify-content: space-around;
};

.journals-container ul {
	list-style: none;

	
};

.journal-thumbnail img {
	width: 400px;
};

