.business-hours {
  text-transform: uppercase;
  color: #d99054;
}

.day-of-week {
  font-weight: 700;
}

.footer {
  display: flex;
  background-image: url(../../images/dark-wood.png);
  background-repeat: repeat;
  height: 250px;
}

.footer-info1,
.footer-info2 {
  color: white;
  flex: 1;
  margin-left: 100px;
  width: 250px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.email-icon,
.phone-icon {
  display: inline-flex;
  .fas,
  .far {
    padding-right: 10px;
  }
}

.logo-right {
  width: 250px;
  margin-top: 20px;
  position: relative;
  right: -200px;
}
