.business-hours {
  text-transform: uppercase;
  color: #d99054;
  font-family: Novecento Sans Web, sans-serif;
}

.day-of-week {
  font-weight: 700;
}

.footer {
  display: flex;
  background-image: url(../../images/dark-wood.png);
  background-repeat: repeat;
  height: 250px;
}

.footer-copyright {
  background-image: url(../../images/dark-wood.png);
  background-repeat: repeat;
  text-align: center;
  color: white;
  padding-bottom: 25px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.footer-info1,
.footer-info2 {
  color: white;
  margin-left: 100px;
  width: 250px;
  .footer-info2 {
    max-width: 300px;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-container .footer-social-icons ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
  li {
    margin: 15px 10px 0px 10px;
  }
}

.email-icon,
.phone-icon {
  display: inline-flex;
  height: 25px;
  .fas,
  .far {
    padding-right: 10px;
  }
}

.logo-right {
  width: 250px;
  margin-top: 20px;
  position: relative;
  right: -200px;
}
