/*--------------------------------------------------------------
# Journal / Home 
--------------------------------------------------------------*/

// START OF JOURNAL PAGE *********************

.blog,
.single-post {
  .content-area p {
    max-width: 750px;
  }

  .entry-header img {
    width: 100%;
    margin-left: 50px;
  }

  .site-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #a1a1a1;
  }

  .entry-header {
    width: 750px;
    position: relative;
  }

  .site-content {
    display: flex;
    flex-wrap: nowrap;
  }
}

.entry-title {
  position: absolute;
  top: 20px;
  left: 20;
  font-size: 2rem;
}

/*TEXT OVERLAY ON THE JOURNAL ARCHIVE PAGE IMAGES*/

.blog,
.single-post {
  img .post-type-post {
    position: relative;
    width: 750px;
  }

  .about-entry-title {
    position: absolute;
    background-color: none;
    color: white;
  }

  .entry-title {
    position: absolute;
    top: 20px;
    left: 20;
    font-family: Novecento Bold Sans Web, sans-serif;
    color: white;
  }

  .entry-title a {
    color: white;
    background-color: #248a83;
    margin-left: 50px;
  }

  .entry-header,
  .entry-title {
    // background-color: #248a83;
    color: white;
  }

  .menu .menu-item {
    color: white;
  }

  .entry-meta {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #248a83;
    color: white;
    font-size: 1rem;
    font-family: Novecento Bold Sans Web, sans-serif;
  }

  .entry-content p {
    max-width: 750px;
  }

  .about-entry-content {
    width: 100%;
    height: 100vh;
  }

  .blog,
  .entry-title {
    $color__link: rgb(245, 248, 248);
    $color__link-visited: rgb(255, 255, 255);
    $color__link-hover: #a3afae;
  }
}

.blog,
.single-post,
.page-find-us,
.single-product {
  .site-header .menu-item a {
    font-size: 1rem;
    color: #248a83;
    text-transform: uppercase;
  }
}
