/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home-hero {
    background-image: url(../../images/home-hero.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
};

.shop-stuff-boxes {
    display: flex;
    justify-content: space-around;

 };

 header, .entry-header {
     width: 750px;
     position: relative;
 };

 .shop-stuff-boxes p {
    height: 300px;
    width: 150px;
    background-color: red;

 };

//  .widget-area {
//      display: none;
//  };

 /*TEXT OVERLAY ON THE JOURNAL ARCHIVE PAGE IMAGES*/

.hfeed-site, img, .post-type-post {
    position: relative;
    width: 750px;  
};

.about-entry-title {
    position: absolute;
    background-color: none;
    color: white;
};

.entry-title {
	position: absolute;
	top: 20px;
	left: 20;
	background-color: green;
    color: white;
}

.entry-meta {
    position: absolute;
    right: 115px;
    bottom: 8px;
    background-color: green;
    color: white;
}

.entry-content {
    max-width: 750px;
};

// .site-content {
//     margin: 0;
// };

.about-entry-content {
    width: 100%;
    height: 100vh;
};

.page-id-5 {
    .site-content{ width: 100%;
        background-color: yellow;
        margin: 0;
        .hero-image-header {
            width: 100%;
            height: 100vh;
            position: relative;
        }
    }
};