// 16 item page SHOP:

.archive .site-content {
  max-width: 1120px;
  margin: 0 auto;
}

.archive .site-header {
  border-bottom: 1px solid #a1a1a1;
}

.post-type-archive,
.post-type-archive-product {
  .site-header .menu-item a {
    font-size: 1rem;
    color: #248a83;
    text-transform: uppercase;
  }

  .product-top-menu {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    border-bottom: 1px dotted #a1a1a1;
    margin-bottom: 50px;
  }

  .page-header {
    justify-content: center;
  }

  .page-header a {
    padding-left: 20px;
    padding-right: 20px;
    color: #248a83;
  }

  .page-header h2 {
    text-align: center;
    text-transform: uppercase;
  }

  .product-block-terms {
    text-transform: uppercase;
  }

  .product-archive-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 250px);
    grid-gap: 10px;
  }

  .product-grid-items {
    display: flex;
    height: auto;
  }

  .product-grid-item-name {
    display: flex;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    .entry-title {
      font-size: 1rem;
      margin: 0;
      padding: 0;
      position: static;
      a {
        font-family: Merriweather Web, serif !important;
        font-weight: 100;
      }
    }
  }

  .dots {
    position: relative;
    top: 5px;
  }

  .entry-header {
    display: grid;
  }

  .thumbnail-post-link {
    display: flex;
    overflow: hidden;
    max-height: 250px;
  }

  .site-content {
    padding-bottom: 50px;
  }
}
