// SEARCH PAGE RESULTS

.search-results .entry-title {
  position: static;
}

.search-results .page-title {
  padding-left: 25px;
}

.search-results .entry-header {
  padding-left: 50px;
}

.search-results .site-content {
  display: flex;
  padding-bottom: 25px;
}

.search-results .site-main {
  max-width: 750px;
}

.search-results .site-header {
  border-bottom: 1px solid #a1a1a1;
}
