// SINGLE PRODUCT POSTS

.archive {
  .site-header .menu-item a {
    font-size: 1rem;
    color: #248a83;
    text-transform: uppercase;
  }
}

.single-product {
  .product-group article {
    display: flex;
  }

  .single-product .hentry .entry-title {
    color: #d99054;
    font-family: Novecento Sans Web, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: 0px;
  }

  .single-product .entry-content {
    //  max-width: 450px;
    margin: 0 auto;
    padding-left: 25px;
  }

  .entry-header {
    padding-left: 25px;
  }

  .single-product .product-info {
    padding-top: 40px;
    height: 400px;
    margin: 0 auto;
  }

  .single-product,
  .entry-header,
  .entry-title {
    background-color: white;
    position: relative;
    // padding-left: 25px;
  }

  .type-product .product-info {
    padding-right: 25px;
  }
}
