.single-post {
  img .post-type-post {
    position: relative;
    width: 750px;
  }

  .entry-title {
    position: absolute;
    background: #248a83 !important;
    color: white;
    margin-left: 50px;
  }

  .entry-meta {
    position: absolute;
    display: flex;
    right: 0;
    bottom: 0;
    background-color: #248a83;
    color: white;
    font-size: 1rem;
    font-family: Novecento Bold Sans Web, sans-serif;
  }

  .comments-link a {
    color: white;
  }
}
