.single-post {
  //   color: #404040;
  //   font-family: Merriweather Web, serif;
  //   font-size: 16px;
  //   font-size: 1rem;
  //   line-height: 1.75;
  //   .single-format-standard
  background: red;

  .entry-title {
    position: absolute;
    background: #248a83 !important;
    color: white;
  }
}
